<div id="text">Please enter a netid and password:</div>
<div id="content">
	<form action="{{action}}" method="post">
	<table id="form">
		<tr>
			<td class="left">Username:</td>
			<td class="right">
				<input type="text" name="username" placeholder="netid" autofocus>
			</td>
		</tr>
		<tr>
			<td class="left">Password:</td>
			<td class="right">
				<input type="password" name="password" placeholder="password">
			</td>
		</tr>
		<tr>
			<td class="left"></td>
			<td class="action">
				<input type="submit" value="Login">
			</td>
		</tr>
	</table>
	</form>
</div>