<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome!</title>
</head>

<body>
	<p>Welcome, {{name}}</p>
	<a href = "import">Import Data</a>
	<form method = "post">
		<input type = "submit" value = "Logout">
	</form>
</body>

</html>